###########################################################
###################### General Setup ######################
###########################################################
AWS_CREDENTIALS_HOME=/Users/andrea
AWS_PROFILE=viddyoze
BUILD_ENV=dev
VIDDYOZE_AWS_REGION=us-west-2
ENVIRONMENT=dev

# Point to the path of your application code on your host
BACKEND_APP_PATH=~/Sites/viddyoze
FRONTEND_APP_PATH=~/Sites/viddyoze-frontend

# You may add flags to the path `:cached`, `:delegated`. When using Docker Sync add `:nocopy`
APP_CODE_CONTAINER_FLAG=:delegated

APP_CODE_PATH_CONTAINER=/var/www/html
WORKER_CODE_PATH_CONTAINER=/app

# All volumes driver
VOLUMES_DRIVER=local

# All Networks driver
NETWORKS_DRIVER=bridge

# Choose storage path on your machine. For all storage systems
DATA_PATH_HOST=./data

### Docker compose files ##################################
# Select which docker-compose files to include. If using docker-sync append `:docker-compose.sync.yml` at the end
COMPOSE_FILE=docker-compose.yml

### PHP Version ###########################################

# Select a PHP version of the Workspace and PHP-FPM containers (Does not apply to HHVM).
# Accepted values: 8.0 - 7.4 - 7.3 - 7.2 - 7.1 - 7.0 - 5.6
PHP_VERSION=7.2

### POSTGRES ##############################################

POSTGRES_VERSION=alpine
POSTGRES_PASSWORD=postgres
POSTGRES_USER=viddyoze
POSTGRES_DB=viddyoze
POSTGRES_PORT=5432
POSTGRES_ENTRYPOINT_INITDB=./postgres/docker-entrypoint-initdb.d

### SQS ##############################################
SQS_NODE_HOST_PORT=9324
SQS_MANAGEMENT_HTTP_HOST_PORT=9325

### MINIO #################################################

MINIO_PORT=9000

### ELASTICSEARCH #########################################

ELASTICSEARCH_HOST_HTTP_PORT=9200
ELASTICSEARCH_HOST_TRANSPORT_PORT=9300

### SWAGGER EDITOR  ###########################################

SWAGGER_EDITOR_PORT=5151

### SWAGGER UI  ###############################################

SWAGGER_API_URL=http://generator.swagger.io/api/swagger.json
SWAGGER_UI_PORT=5555

### pgadmin ##################################################
# use this address http://ip6-localhost:5050
PGADMIN_PORT=5050
PGADMIN_DEFAULT_EMAIL=pgadmin4@pgadmin.org
PGADMIN_DEFAULT_PASSWORD=admin

### rendering ##################################################
BLENDER_PROCESSES=1
SYMFONY_ENV=prod
SYMFONY_VERBOSITY=vvv
ECS_ENABLE_CONTAINER_METADATA=true
DATABASE_HOST=postgresql
DATABASE_NAME=viddyoze_dev
DATABASE_USER=viddyoze
DATABASE_PASSWORD=postgres
VIDDYOZE_SQS_RENDER_QUEUE_URL=
VIDDYOZE_SQS_RENDER_280_QUEUE_URL=
VIDDYOZE_SQS_KEYFRAME_PREVIEW_QUEUE_URL=
VIDDYOZE_SQS_280_KEYFRAME_PREVIEW_QUEUE_URL=
VIDDYOZE_SQS_ACTIVE_CAMPAIGN_QUEUE_URL=
KEYFRAME_PREVIEW_S3_BUCKET=
USER_VIDEO_S3_BUCKET=
STOCK_S3_BUCKET=
TEMPLATE_BUNDLE_S3_BUCKET=
STOCK_S3_BUCKET=
TEMPLATE_PREVIEW_S3_BUCKET=
AC_API_URL=
AC_API_KEY=
AC_TRACK_ACCT_ID=
AC_TRACK_KEY=
PROPOSALS_DOMAIN=dev.proposals.com
API_DOMAIN=apidev.viddyoze.com
ADMIN_DOMAIN=admindev.viddyoze.com
DEFAULT_DOMAIN=dev.viddyoze.com
CHECKOUT_DOMAIN=checkoutdev.viddyoze.com
SENTRY_DSN=
INTERCOM_ACCESS_TOKEN=